<!-- views/addUser.ejs -->
<!doctype html>
<html>
<head>
    <title>User Management - Add User</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->
    <style>.floatingBox {
            display: inline-block;
        }

        .banner {
            position: relative;
            width: 100%;
        }

        .button1 {
            width: 500px;
            height: 50px;
            border-radius: 15px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #f0ad4e;
            border: 1px solid #f0ad4e;
        }

        .button1:hover {
            background-color: #f0ad4e;
            color: white;
        }
        #capsWarning {
            color: red;
            text-align: center;
        }

        .button2 {
            width: 500px;
            height: 50px;
            border-radius: 15px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: lightgray;
            color: #ffffff;
        }

    </style>
</head>
<div class="navul" style="height: 80px;
    background: #000000;">
    <a class="navul" href="//aworldbridge.com" style="background: #000000;
    width: 500px;
    height: 80px;">
        <!-- <img class="banner" src="../images/NewWBBanner.jpg" style="width: 550px;
    height: 80px;
    margin: auto; display: block;" /> -->
    </a>
</div>
<body ononline="onFunction()" onoffline="offFunction()">
<div class="container" style="width: 500px;
    padding: 0px;">
    <h1 style="margin-top: 20px; text-align: center;"><span class="fa fa-sign-in"></span> Add User </h1>
    <!-- show any messages that come back with authentication -->
    <div class="alert alert-danger">
    </div>
    <!-- ADD USER FORM -->
    <form onsubmit="return checkForm()" action="/addUser" method="post" id="addUser">
        <div class="form-group">
            <label>Username (email address):</label>
            <input type="email" class="form-control" id="username" name="username" onchange="SearchUsername(this.value)" style="height: 50px;" minlength="2" maxlength="99" autofocus required>
            <p id="emailUser" style="text-align: center; color: palevioletred; margin-top:15px;"></p>
        </div>
        <div class="form-group">
            <label>First Name:</label>
            <input type="text" class="form-control" id="FiRsTname" name="firstName" style="height: 50px;" minlength="1" maxlength="99" required>
        </div>
        <div class="form-group">
            <label>Last Name:</label>
            <input type="text" class="form-control" id="lastname" name="lastName" style="height: 50px;" minlength="1" maxlength="99" required>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <span toggle="#password" class="fa fa-fw fa-eye-slash field-icon toggle-password" style="float: right"></span>
            <input type="password" class="form-control" id="password" name="password" style="height: 50px;" minlength="8" maxlength="99" required>
        </div>
        <p id="capsWarning" hidden><strong>WARNING: Caps lock is enabled.</strong></p>
<!--        <div class="form-group">-->
<!--            <label>Confirm New Password: </label>-->
<!--            <input type="password" class="form-control" id="Confirmpassword" name="Confirmpassword" maxlength="99" style="height: 50px;">-->
<!--        </div>-->
<!--        <p id="capsWarning" hidden><strong>WARNING: Caps lock is enabled.</strong></p>-->
        <div class="form-group">
            <label>User Role:</label>
            <br>
            <input type="radio" name="userrole" value="Admin" required>
            <h5 class="floatingBox">&nbsp;&nbsp;&nbsp;Admin</h5>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="userrole" value="Regular" required>
            <h5 class="floatingBox">&nbsp;&nbsp;&nbsp;Regular</h5>
        </div>
        <div class="form-group">
            <label>Date Created:</label>
            <input id="DATE" class="form-control date" name="dateCreated" readonly style="height: 50px;">
        </div>
        <div class="form-group">
            <label>Created By User:</label>
            <input type="text" id="createdUser" class="form-control" name="createdUser" value="<%= user.username %>" readonly style="height: 50px;">
        </div>
        <div class="form-group">
            <label>Status:</label>
            <input type="text" id="status" class="form-control" name="status" value="Never Logged In" readonly style="height: 50px;">
        </div>
        <div class="container" style="width: 500px;
    padding: 0px;">
            <button type="submit" form="addUser" id="addUserButton" class="button1"> Add User </button>
        </div>
        <input type="hidden" id="token">
    </form>
    <hr style="margin-bottom: 10px;">
    <p style="margin-left: 225px;"> <a href="/userManagement">Cancel</a></p>
</div>
<br>
<script>
    let password = document.getElementById("password");
    let capsWarning = document.getElementById("capsWarning");
    let username = document.getElementById("username");
    let firstname = document.getElementById("firstname");
    let lastname = document.getElementById("lastname");

    password.addEventListener("keydown", function(e) {

        if (e.getModifierState("CapsLock")) {
            capsWarning.style.display = "block";
            capsWarning.hidden = false;
        } else {}
    });
    password.addEventListener("keyup", function(e) {

        if (e.getModifierState("CapsLock")) {}
        else {
            capsWarning.style.display = "none";
            capsWarning.hidden = true;
        }
    });
    username.addEventListener("keydown", function(e) {

        if (e.getModifierState("CapsLock")) {
            capsWarning.style.display = "block";
            capsWarning.hidden = false;
        } else {}
    });
    username.addEventListener("keyup", function(e) {

        if (e.getModifierState("CapsLock")) {}
        else {
            capsWarning.style.display = "none";
            capsWarning.hidden = true;
        }
    });
    firstname.addEventListener("keydown", function(e) {

        if (e.getModifierState("CapsLock")) {
            capsWarning.style.display = "block";
            capsWarning.hidden = false;
        } else {}
    });
    firstname.addEventListener("keyup", function(e) {

        if (e.getModifierState("CapsLock")) {}
        else {
            capsWarning.style.display = "none";
            capsWarning.hidden = true;
        }
    });
    lastname.addEventListener("keydown", function(e) {

        if (e.getModifierState("CapsLock")) {
            capsWarning.style.display = "block";
            capsWarning.hidden = false;
        } else {}
    });
    lastname.addEventListener("keyup", function(e) {

        if (e.getModifierState("CapsLock")) {}
        else {
            capsWarning.style.display = "none";
            capsWarning.hidden = true;
        }
    });

    $(".toggle-password").click(function() {
        $(this).toggleClass("fa-eye-slash fa-eye");
        let input = $($(this).attr("toggle"));
        if (input.attr("type") === "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $(document).ready(function() {
        $(function() {
            $('#addUser').submit(function(e) {
                e.preventDefault();
                var fail = false;
                var fail_log = '';
                var name;
                $( '#addUser' ).find( 'select, textarea, input' ).each(function(){
                    if( ! $( this ).prop( 'required' )){

                    } else {
                        if ( ! $( this ).val() ) {
                            fail = true;
                            fail_log = "All fields are required to be filled before submitting!";
                            // name = $( this ).attr( 'name' );
                            // fail_log += name + " is required \n";
                        } else {

                        }

                    }
                });
                if (!fail) {
                    $.ajax({
                        type: "post",
                        url: "/addUser",
                        dataType: 'json',
                        data: $("#addUser").serialize(),
                        success: function (result) {
                            if (!result.error) {
                                alert(result.message);
                                window.location.replace('/userManagement');
                            } else {
                                alert(result.message);
                            }
                        }
                    })
                } else {
                    alert(fail_log);
                }

            });
        });
        let today = new Date();
        let date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        let time2 = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        let dateTime = date + ' ' + time2;
        document.getElementById("DATE").value = dateTime;
    });

    function SearchUsername(value) {
        $.ajax({
            url: "SearchUsername",
            method: 'GET',
            dataType: "json",
            success: function (results) {
                for (let i = 0; i < results.length; i++) {
                    // let newRes = JSON.stringify(results);
                    console.log(value);
                    console.log(results[i].username);
                    if (value === results[i].username) {
                        alert("This username is already taken. Please use a different one.");
                        document.getElementById("emailUser").innerHTML = "This username is already taken. Please use a different one.";
                        document.getElementById("addUserButton").disabled = true;
                        document.getElementById("addUserButton").classList.remove("button1");
                        document.getElementById("addUserButton").classList.add("button2");
                        break;
                    } else {
                        document.getElementById("emailUser").innerHTML = "";
                        document.getElementById("addUserButton").disabled = false;
                        document.getElementById("addUserButton").classList.add("button1");
                        document.getElementById("addUserButton").classList.remove("button2");
                    }
                }
            }
        });
    }
    // function checkForm() {
    //     let newP=document.getElementById("password").value;
    //     let confirmP =document.getElementById("Confirmpassword").value;
    //
    //     if (newP === confirmP) {
    //         return true;
    //     } else {
    //         alert("Passwords don't match!");
    //         return false;
    //     }
    // }

    function onFunction() {
        alert ("You are now online.");
    }

    function offFunction() {
        alert ("Your are offline. Some functionality may be unavailable.");
    }
</script>
</body>
</html>
