<!-- views/userEdit.ejs -->
<!doctype html>
<html>

<head>
    <title>CitySmart - Data Management - Edit User</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style_final.css" type="text/css">
    <link rel="stylesheet" href="../css/multi-select.css" media="screen" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <script src="../3rdPartyLibs/jquery-3.3.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="../3rdPartyLibs/jquery.multi-select.js"></script>
    <script src="../3rdPartyLibs/jquery-validation-1.17.0/dist/jquery.validate.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ld7fq8UAAAAAOv8ZEiVj6P972pR_Vf3ko5R0JB_"></script>
    <?php include 'reCaptcha.php';?>
    <style>
        table,
        th {
            border: 1px solid black;
            text-align: center;
        }

        body {
            padding-bottom: 80px;
            word-wrap: break-word;
        }

        .btn {
            font-size: 18px;
            text-align: center;
            width: 80px;
            padding: 5px 5px;
        }

        .button1 {
            width: 100%;
            height: 60px;
            border-radius: 15px;
            font-size: 16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #f0ad4e;
            border: 1px solid #f0ad4e;
        }

        .button1:hover {
            background-color: #f0ad4e;
            color: white;
        }

        .button2 {
            width: 500px;
            height: 50px;
            border-radius: 15px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: lightgray;
            color: #ffffff;
        }

        /*#checkit{*/
        /*    width: 250px;*/
        /*    height: 50px;*/
        /*    border-radius:15px;*/
        /*    font-size:16px;*/
        /*    -webkit-transition-duration: 0.4s;*/
        /*    transition-duration: 0.4s;*/
        /*    color:white;*/
        /*}*/
        input[type="text"] {
            height: 60px;
        }

        input[type="email"] {
            height: 60px;
        }

        input[type="password"] {
            height: 60px;
        }

        /*#capsWarning {*/
        /*    color: red;*/
        /*    text-align: center;*/
        /*}*/
    </style>

</head>
<div class="navul" style="height: 80px;
    background: #000000;">
    <a class="navul" href="//aworldbridge.com" style="background: #000000;
    width: 500px;
    height: 80px;">
        <img class="banner" src="../images/NewWBBanner.jpg" style="width: 550px;
    height: 80px;
    margin: auto; display: block;" />
    </a>
</div>

<body ononline="onFunction()" onoffline="offFunction()">
    <div class="container" style="width: 850px;">
        <div class="page-header">
            <h1 class="text-center" style="margin-bottom: 0px"><span class=" text-center fa fa-sign-in"></span><strong>
                    Edit User </strong></h1>
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>
        </div>
        <div class="generalForm">
            <form class="well form-horizontal" id="editForm" action="/editUser" method="post">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Username:</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input
                                    id="username" name="username" onchange="SearchUsername(this.value)"
                                    class="form-control" placeholder="<%= user.username %>" value="<%= user.username %>"
                                    type="email" minlength="2" maxlength="99" autofocus>
                            </div>
                            <p style="margin-top:8px;color:#0088d8;" id="emailc"></p>
                            <p id="emailUser" style="text-align: center; color: palevioletred; margin-top:15px;"></p>
                            <br>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">First Name:</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input
                                    id="firstName" name="firstName" class="form-control" value="" type="text"
                                    minlength="1" maxlength="99" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Last Name:</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input
                                    id="lastName" name="lastName" class="form-control" value="" type="text"
                                    minlength="1" maxlength="99" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">User Role:</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i
                                        class="glyphicon glyphicon-user"></i></span>
                                <select id="userrole" name="User_Role" class="form-control" style="height: 50px;">
                                    <option class="admin" value="Admin">Admin</option>
                                    <option class="regular" value="Regular">Regular</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Status:</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i
                                        class="glyphicon glyphicon-user"></i></span>
                                <select id="status" name="status" class="form-control" style="height: 50px;">
                                    <option class="active" value="Active">Active</option>
                                    <option class="suspended" value="Suspended">Suspended</option>
                                    <option class="pending" value="Pending">Pending</option>
                                    <option class="never_logged_in" value="Never Logged In">Never Logged In</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" hidden>
                        <label>Date Modified:</label>
                        <input type="text" id="date" class="form-control" name="dateModified" readonly>
                    </div>
                    <div class="form-group" hidden>
                        <label>Modified By:</label>
                        <input type="text" id="modUser" class="form-control" name="modifiedUser" readonly>
                    </div>
                </fieldset>
                <input type="hidden" id="token">
            </form>
        </div>
        <p style="font-size:15px">
            <label for="password">Do you want to change the following user's password?</label>
            <input type="checkbox" id="password" name="password" onclick="changePass()" autofocus>
            <!---<br><br><input type="checkbox" onclick="changePass()">Show Password---->
        </p>
        <h3 id="passTitle" class="text-center page-header" style="display: none">Password Change</h3>
        <div class="generalForm">
            <form id="pswchange" style="display:none;" class="well form-horizontal">
                <fieldset>
                    <p id="capsWarning" hidden><strong>WARNING: Caps lock is enabled.</strong></p>
                    <!--                        <div class="form-group currPass" style="display: none">-->
                    <!--                            <label id="displayCurrentPassword" class="col-md-4 control-label">Current Password:</label>-->
                    <!--                            <div class="col-md-8 inputGroupContainer">-->
                    <!--                                <span toggle="#currentPassword" class="fa fa-fw fa-eye-slash field-icon toggle-password" style="float: right; margin-top: 20px"></span>-->
                    <!--                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input id="currentPassword" name="CurrentPassword" class="form-control"   value="" type="password"></div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">New Password:</label>
                        <div class="col-md-8 inputGroupContainer">
                            <span toggle="#newPassword" class="fa fa-fw fa-eye-slash field-icon toggle-password"
                                style="float: right; margin-top: 20px"></span>
                            <div class="input-group"><span class="input-group-addon"><i
                                        class="glyphicon glyphicon-lock"></i></span><input id="newPassword"
                                    name="NewPassword" class="form-control" value="" type="password"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Confirm New Password:</label>
                        <div class="col-md-8 inputGroupContainer">
                            <span toggle="#confirmPassword" class="fa fa-fw fa-eye-slash field-icon toggle-password"
                                style="float: right; margin-top: 20px"></span>
                            <div class="input-group"><span class="input-group-addon"><i
                                        class="glyphicon glyphicon-lock"></i></span><input id="confirmPassword"
                                    name="ConfirmNewPassword" class="form-control" value="" type="password"></div>
                        </div>
                    </div>

                </fieldset>
            </form>
            <button id="checkit" class="btn-primary text-center"
                style="display:none; margin-top:-57px; margin-left: 410px;" onclick="checkForm()">Check</button>
        </div>
        <br>
        <button id="updateForm" type="submit" class="button1" onclick="submitForm();"> Update </button>
        <hr>
        <div class="text-center">
            <a href="/userManagement">Cancel</a>
        </div>

        <!--</div>-->
    </div>
    <script>
        let LoginUser = "<%= user.username %>";
        // let CurrPassword = document.getElementById("currentPassword");
        // let NewPassword = document.getElementById("newPassword");
        // let ConfirmPassword = document.getElementById("confirmPassword");
        // let capsWarning = document.getElementById("capsWarning");

        // CurrPassword.addEventListener("keydown", function(e) {
        //
        //     if (e.getModifierState("CapsLock")) {
        //         capsWarning.style.display = "block";
        //         capsWarning.hidden = false;
        //     } else {}
        // });
        // CurrPassword.addEventListener("keyup", function(e) {
        //
        //     if (e.getModifierState("CapsLock")) {}
        //     else {
        //         capsWarning.style.display = "none";
        //         capsWarning.hidden = true;
        //     }
        // });
        // NewPassword.addEventListener("keydown", function(e) {
        //
        //     if (e.getModifierState("CapsLock")) {
        //         capsWarning.style.display = "block";
        //         capsWarning.hidden = false;
        //     } else {}
        // });
        // NewPassword.addEventListener("keyup", function(e) {
        //
        //     if (e.getModifierState("CapsLock")) {}
        //     else {
        //         capsWarning.style.display = "none";
        //         capsWarning.hidden = true;
        //     }
        // });
        // ConfirmPassword.addEventListener("keydown", function(e) {
        //
        //     if (e.getModifierState("CapsLock")) {
        //         capsWarning.style.display = "block";
        //         capsWarning.hidden = false;
        //     } else {}
        // });
        // ConfirmPassword.addEventListener("keyup", function(e) {
        //
        //     if (e.getModifierState("CapsLock")) {}
        //     else {
        //         capsWarning.style.display = "none";
        //         capsWarning.hidden = true;
        //     }
        // });

        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye-slash fa-eye");
            let input = $($(this).attr("toggle"));
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $(function () {
            flatpickr(".date", {
                dateFormat: "Y-m-d",
                time_24hr: true
            });
        });
        let today = new Date();
        let date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        let time2 = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        let dateTime = date + ' ' + time2;
        document.getElementById("date").value = dateTime;

        let getvalue = JSON.parse(localStorage.getItem("getvalue"));
        document.getElementById('username').value = getvalue[0];
        document.getElementById('firstName').value = getvalue[1];
        document.getElementById('lastName').value = getvalue[2];
        document.getElementById('userrole').value = getvalue[3];
        document.getElementById('status').value = getvalue[12];

        document.getElementById('username').placeholder = getvalue[0];
        document.getElementById('firstName').placeholder = getvalue[1];
        document.getElementById('lastName').placeholder = getvalue[2];

        document.getElementById('modUser').value = LoginUser;

        // if (LoginUser === getvalue[0]) {
        //     //Verifies if the current login user is different from the one that is being edited
        //     $(".currPass").css({ 'display' : 'block'})
        //     document.getElementsByClassName("currPass").removeAttr("display", "none");
        //     document.getElementsByClassName("currPass").setAttribute("display", "block");
        //     document.getElementById("displayCurrentPassword").innerHTML = "User Current Password";//Changes the value "Current Password" to "User Current Password"
        // }


        let password = $("#password");
        let initial = password.is(":checked");
        let change = $("#password_change")[initial ? "removeClass" : "addClass"]("gray");
        let changeInputs = change.find("input").attr("disabled", !initial);

        function changePass() {
            let checkbox = document.getElementById("password");
            let text = document.getElementById("pswchange");
            let title = document.getElementById("passTitle");


            if (checkbox.checked === true) {
                text.style.display = "block";
                title.style.display = "block";

            } else {
                text.style.display = "none";
                title.style.display = "none";
            }
        }

        function submitForm() {
            let checkbox = document.getElementById("password");
            let data = $("#editForm").serialize();

            if (checkbox.checked === true) {
                let newP = document.getElementById("newPassword").value;
                let confirmP = document.getElementById("confirmPassword").value;
                console.log("pass:" + newP);
                if (confirmP !== "" && newP !== "") {
                    if (newP === confirmP) {
                        $.ajax({
                            url: '/edituserform',
                            method: "POST",
                            data: data,
                            dataType: 'json',
                            success: function (d) {
                                if (d.error) {
                                    alert(d.message);
                                    alert(
                                        "An error has occurred. Please try again or contact an admin for help.");
                                } else {
                                    alert(
                                        "Changes were updated! Please verify that your information has been changed by re-signing in.");
                                    window.location.replace('/userManagement');
                                }
                            }
                        });
                    } else {
                        alert("New passwords do not match!");
                    }
                } else {
                    alert("All password fields are required.");
                }
            } else {
                if (confirm("Are you sure you would like to submit?") === true) {
                    $.ajax({
                        url: '/edituserform',
                        method: "POST",
                        data: data,
                        dataType: 'json',
                        success: function (d) {
                            if (d.error) {
                                alert(d.message);
                                alert(
                                    "An error has occurred. Please try again or contact an admin for help.");
                            } else {
                                alert(
                                    "Changes were updated! Please verify that your information has been changed by re-signing in.");
                                window.location.replace('/userManagement');
                            }
                        }
                    });
                } else {
                    return false;
                }
            }
        }

        grecaptcha.ready(function () {
            grecaptcha.execute('6Ld7fq8UAAAAAOv8ZEiVj6P972pR_Vf3ko5R0JB_', {
                action: '/edituserform'
            }).then(function (token) {
                console.log(token);
                document.getElementById("token").value = token;
            });
        });

        function verifyemail() {
            for (let i = 0; i < newusername.length; i++) {
                console.log(document.getElementById("username").value);
                console.log(newusername[i].username);
                if (document.getElementById("username").value === newusername[i].username && document.getElementById(
                        "username").value !== UserName) {
                    document.getElementById("emailc").innerHTML = "This user name already exists!";
                    break;
                } else if (document.getElementById("username").value === UserName) {
                    document.getElementById("emailc").innerHTML = "";
                } else {
                    document.getElementById("emailc").innerHTML =
                        "The user name will not change until you verify the new username in your email.";
                }
            }
            // document.getElementById("emailc").innerHTML = "The User Name will not change until you verify the new username in your email.";
        }

        function SearchUsername(value) {
            $.ajax({
                url: "SearchUsername",
                method: 'GET',
                dataType: "json",
                success: function (results) {
                    for (let i = 0; i < results.length; i++) {
                        // let newRes = JSON.stringify(results);
                        console.log(value);
                        console.log(results[i].username);
                        if (value === results[i].username && value !== LoginUser) {
                            alert("This username is already taken. Please use a different one.");
                            document.getElementById("emailUser").innerHTML =
                                "This username is already taken. Please use a different one.";
                            document.getElementById("updateForm").disabled = true;
                            document.getElementById("updateForm").classList.remove("button1");
                            document.getElementById("updateForm").classList.add("button2");
                            break;
                        } else {
                            document.getElementById("emailUser").innerHTML = "";
                            document.getElementById("updateForm").disabled = false;
                            document.getElementById("updateForm").classList.add("button1");
                            document.getElementById("updateForm").classList.remove("button2");
                        }
                    }
                }
            });
            verifyemail();
        }

        function onFunction() {
            alert("You are now online.");
        }

        function offFunction() {
            alert("Your are offline. Some functionality may be unavailable.");
        }
    </script>
</body>

</html>
