{% extends 'layout.html' %} 
{% block title %} Profile {% endblock %} 
{% block content %}

<p>Profile Page</p>
<div>
    <p>Your account details are below:</p>

    <table>
        <tr>
            <td>Name:</td>
            <td>{{ account['LastName'] }}, {{ account['FirstName'] }}</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>{{ account['Username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['Password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['Email'] }}</td>
        </tr>
    </table>

</div>
{% endblock %}
